.vagrant
/cookbooks

# Bundler
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
/sew/2kl/temperatiuiawfghsuhiuguiofkghpdlognj/JavaApplication2/nbproject/private/
/sew/2kl/temperatiuiawfghsuhiuguiofkghpdlognj/JavaApplication2/build/
/sew/2kl/temperatiuiawfghsuhiuguiofkghpdlognj/JavaApplication3/nbproject/private/
/sew/2kl/temperatiuiawfghsuhiuguiofkghpdlognj/JavaApplication3/build/
